.ocamlinit
_build/
*~
tmp/
doclib.docdir
setup.data
setup.log
setup.ml
*.ba[01234567890k]
*.native
*.byte
.bzrignore
.#*
#*
TAGS
configure
src/lib/META
src/lib/doclib.odocl
src/lib/biocaml.mllib
src/lib/libbiocaml_stubs.clib
/src/lib/biocaml_about.ml
